<!-- <head> -->
<!-- <link rel="stylesheet" type="text/css" href="../../static/discover.css"> -->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!-- </head>  -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script> -->
<script >
	function func(temp)
	{
	 // alert(temp);

			 $.getJSON('/get_song_list/'+temp,function(data) {
			 	// alert(data)
			 	var x;

			           $.getJSON('/songsjson/'+data,function(data1) {
			           	// alert(data1)

	              array=data1
	            indx=0;

	          	path=array[indx][2]
	          	img=array[indx][1]
	          	name=array[indx][0]
	          	// console.log('path:'+path)
	            
	        
	           
	     $('#bottom-nav').css("display","block");
	    
	     $('#audio-player').attr("src",path);
	     $('#audio-player').attr("preload",'true');
	     $('#audio-player').attr("autoplay",'true');
	     $('#song-name-preview').text(name);
	     $('.cover').attr('src',img);
	     $('.cover').attr('width','110');
	     $('.cover').attr('height','114');
	     $('.mejs-horizontal-volume-current').css('width','80px');
	     $('.mejs-horizontal-volume-handle').css('left','74px');
	     var audio=document.getElementById("audio-player")
	     audio.play()        
	        

	    });
		

		    });

}



</script>




<div class="container" style="height:120%">
{% for k in dict %}
	
		
<div class="box col-md-3">  
    <div class="imgFrame">
        <a  onclick=func({{ k.cat_id }})>
				<img src={{k.cat_thumbnail}} alt={{k.cat_name}} class="img" style="height: 140px">
          <div class="imgExplanation">{{ k.cat_name }}</div>
        </a>
         
    </div>
</div>
	


{% endfor %}
	

    


</div>


